$rz_green: #00DF74;
$span_width: 0.75rem;
$span_height: 0.35rem;

.center-grid {
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px;
}

.center-grid2 {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

.inner{
  display: grid;
}

.outer{
  display: grid;
}

@media (min-width: 1200px) {
  .inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px){
  .inner {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px) { 
  .outer{
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (max-width: 800px) {
  .outer{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px){
  .center-grid {
    padding: 0px;
  }
  .cell{
    margin: 0px;
  }
}

h1{
  padding: 10px;
}

#h2 {
  padding: 15px;
  font-family: unset;
  font-weight: 675;
  color: rgb(80, 80, 80);
}

.cell {
  display:grid;
  border-radius: 15px;
  padding: 5px;
  margin: 0 auto;
}

.Chart {
  display: block;
  height: 18rem;
  margin: 5px;
  padding: 5px;
  width: 400px;
}

.policy{

  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
  padding: 5px;

  .form-check-input {
    display: inline-flex;
  }

  .policyOption {
    display:inline-flex;
  }

  .aligner{
    display: inline-flex;
    float: right;
  }


  span{
    background-color: white;
    padding: $span_height $span_width $span_height $span_width;
    border-radius: 1.4rem;
    border-color: $rz-green;
    color: $rz-green;
    border-style: solid;
    border-width: 0.15rem;
    margin: 10px;
  }

  span.true{
    background-color: $rz_green;
    color: white;
  }
}