$rz_green: #00DF74;
$span_width: 0.75rem;
$span_height: 0.35rem;

.center-grid {
  display: grid;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

@media (min-width: 800px) {
  .center-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px){
  .center-grid {
    grid-template-columns: 1fr;
  }
}

#h2 {
  padding: 15px;
  font-family: unset;
  font-weight: 675;
  color: rgb(80, 80, 80);
}

.cell {
  display: grid;
  margin: 5px;
  border-radius: 15px;
  padding: 5px;
}

.Chart {
  display: block;
  height: 18rem;
  margin: 5px;
  padding: 5px;
  max-width: 500px;
}

.policy{

  .aligner{
    display: absolute;
    float: right;
  }

  span{
    background-color: white;
    padding: $span_height $span_width $span_height $span_width;
    border-radius: 1.4rem;
    border-color: $rz-green;
    color: $rz-green;
    border-style: solid;
    border-width: 0.15rem;
  }
  span.true{
    background-color: $rz_green;
    color: white;
  }
}