.center-grid {
  display: grid;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

@media (min-width: 800px) {
  .center-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px){
  .center-grid {
    grid-template-columns: 1fr;
  }
}

#h2 {
  padding: 15px;
  font-family: unset;
  font-weight: 675;
  color: rgb(80, 80, 80);
}

.cell {
  display: grid;
  margin: 5px;
  border: 3px solid whitesmoke;
  border-radius: 15px;
  padding: 5px;
}

.Chart {
  display: block;
  height: 18rem;
  margin: 5px;
  padding: 5px;
  max-width: 500px;
}