/* and customise defaults... */
$body-bg: #ffffff;
$body-color: #2b2b2b;
$rz-green: #00C795;
$rz_grey: #505050;
$rz_blue: #1AB4D7;

@font-face {
    font-family: 'Poppins-Black';
    src: local('Poppins-Black'), url(./fonts/Poppins-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: local('Poppins-Italic'), url(./fonts/Poppins-Italic.ttf) format('truetype');
}

//$navbar-padding-y: 10rem 10rem;

/* ...then import */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// @import "./pages/Home/Home.scss";
// @import "./pages/View/View.scss";
// @import "./components/Hero/Hero.scss";
// @import "./components/Logo/Logo.scss";


.router {
    background-color: white;
}

.content{
    background-image: url("../public/ev_no_road.png");
    background-size: cover;
}

@media(min-width:1400px){
    .content{
        border-radius: 20px;
    }
}

