/* and customise defaults... */
$body-bg: #d6d6d6;
$body-color: #2b2b2b;
$rz-green: #00DF74;

//$navbar-padding-y: 10rem 10rem;

/* ...then import */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// @import "./pages/Home/Home.scss";
// @import "./pages/View/View.scss";
// @import "./components/Hero/Hero.scss";
// @import "./components/Logo/Logo.scss";

.router {
    background-color: #d6d6d6;
}