.custom-container{
    margin: 0 auto;
    max-width: 1000px;
    //padding: 0 4rem 0 4rem;
}

.middle-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 8.3rem);
}

.section{
    padding-top:2rem;
    padding-left: 20%;
    padding-right: 20%;
   
}
.sub-section{
    padding-top:0.2rem;
    padding-left: 5%;
    padding-right: 5%;
   
}
.highlight{
    color: #505050;
    
}
ul {
    list-style-type: none;
   }

#JSONDownloadButton, #CSVDownloadButton{
    width: 6rem;
    background-color: #ffffff;
    border: solid 2px #cccccc;
    color: #808080;
}
#JSONDownloadButton:hover, #CSVDownloadButton:hover{
    background-color: #cccccc;
    color: #FFFFFF;
    border: solid 2px #cccccc;
}

p {
    font-family: Poppins-Regular, serif;
}