.custom-container{
    margin: 0 auto;
    max-width: 1000px;
    //padding: 0 4rem 0 4rem;
}

.middle-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 8.3rem);
}

.section{
    padding-top:2rem;
    padding-left: 20%;
    padding-right: 20%;
   
}
.sub-section{
    padding-top:0.2rem;
    padding-left: 5%;
    padding-right: 5%;
   
}
.highlight{
    color: #1AB4D7;
}
ul {
    list-style-type: none;
   }

h2 {
    color: #00C795;
}

h4, h1{
    color: #505050;
}

