
h1, h2, h3, h4, #contained-modal-title-vcenter{
    font-family: Poppins-Black, serif;
    color: #505050;
}

#contained-modal-title-vcenter{
    color: #303030;
}

.InvalidFileModalHeader{
    color: #00C795;
}

.custom-container{
    margin-top: 0;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.middle-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 8.3rem);
}

.buttons{
    display: grid;
    grid-template-columns: 2fr 8rem 8rem 8rem;
    @media screen and (max-width: 795px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.help{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.csv-schema.body{
    white-space: normal;
}

.suggestion {
    grid-column: span 3;
}

.homepage-csv-schema{
    min-width: 8rem;
    grid-column: span 1;
}


.float-right{
    display: flex;
    justify-content:right;
}


.progress-bar{
    display: grid;
    padding: 30px;
    margin: 0 auto;
}

#predict-button{
    width: 15rem;
    background-color: #1AB4D7;
    color: #FFFFFF;
    border: solid 2px #1AB4D7;
}

#predict-button:hover{
    width: 15rem;
    background-color: #ffffff;
    color: #1AB4D7;
    border: solid 2px #1AB4D7;
}

#predict-button-disabled{
    width: 15rem;
    background-color: #1AB4D7;
    color: #FFFFFF;
    border: solid 2px #1AB4D7;
}

.predict-pair{
    grid-column: span 3;
    @media screen and (max-width: 650px) {
        grid-column: span 3;
    }
}

#upload-button{
    width: 15rem;
    @media screen and (max-width: 650px) {
        grid-column: span 3;
    }
}


em {
    font-family: Poppins-Italic, serif;
    color: #505050;
}

#homepage-csv-schema-button:hover, #homepage-json-schema-button:hover{
    background-color: #ffffff;
    border: solid 2px #00C795;
    color: #00C795;
}

#homepage-csv-schema-button, #homepage-json-schema-button {
    background-color: #00C795;
    color: #FFFFFF;
    border: solid 2px #00C795;
    width: 8rem;
}

#help-button:hover{
    background-color: #cccccc;
    color: #FFFFFF;
    border: solid 2px #cccccc;
}

#help-button{
    width: 8rem;
    background-color: #ffffff;
    border: solid 2px #cccccc;
    color: #808080;
}
