.custom-container{
    margin-top: 0;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.middle-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 8.3rem);
}

.buttons{
    display: grid;
    grid-template-columns: 10rem 10rem 5rem 5rem 5rem;
    @media screen and (max-width: 750px) {
        grid-template-columns: repeat(4, 1fr);
    }
    gap: 1rem;
}

.help{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.csv-schema.body{
    white-space: normal;
}

.suggestion {
    grid-column: span 2;
}

.homepage-csv-schema-button {
    grid-column: span 2;
}

#upload-btn{
    grid-column: span 2;
}

.progress-bar{
    display: grid;
    padding: 30px;
    margin: 0 auto;
}