
h1, h2, h4 {
    font-family: Poppins-Black, serif;
    color: #505050;
}

.custom-container{
    margin-top: 0;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.middle-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 8.3rem);
}

.buttons{
    display: grid;
    grid-template-columns: 2fr 8rem 8rem 8rem;
    @media screen and (max-width: 795px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.help{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.csv-schema.body{
    white-space: normal;
}

.suggestion {
    grid-column: span 3;
}

.homepage-csv-schema{
    min-width: 8rem;
    grid-column: span 1;
}

.homepage-csv-schema-button, .homepage-json-schema-button, .help-button{
    width: 8rem;
}


.float-right{
    display: flex;
    justify-content:right;
}

#upload-button{
    grid-column: span 1;
    max-width: 30.7rem;
}

.progress-bar{
    display: grid;
    padding: 30px;
    margin: 0 auto;
}

.predict-button{
    width: 15rem;
}

.predict-pair{
    
    grid-column: span 3;
    @media screen and (max-width: 650px) {
        grid-column: span 3;
    }
}

#upload-button{
    width: 15rem;
    @media screen and (max-width: 650px) {
        grid-column: span 3;
    }
}