.bar {
    background-color:white;
    border-radius: 20px;
    width: 400px;
    padding: 5px;
    margin: 30px;

    .progress{

        background-color:lightgreen;
        border-radius: 50;
        // transition-delay: 17.5ms;
        transition: 1 ease;

        p{
            margin-left: 5px;
            color: black;
        }
    }
}
